<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArdniDJBEYwD2Mlr9NxpRkKxUTo3Ym3s4</string>
	<key>GCM_SENDER_ID</key>
	<string>643011181864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dummyapps.globalchat</string>
	<key>PROJECT_ID</key>
	<string>myfirebaseproject007-3d605</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebaseproject007-3d605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643011181864:ios:de3945506a0b820664241d</string>
</dict>
</plist>